# Database
POSTGRES_USER='postgres' # need to fill in
POSTGRES_PASSWORD='admin' # need to fill in
POSTGRES_DB=users
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}?schema=public

# JWT
SECRET_KEY='your_secret_key'

# Stripe
STRIPE_PUBLISHABLE_KEY='your_stripe_publishable_key'
STRIPE_SECRET_KEY='your_stripe_secret_key'
STRIPE_WEBHOOK_SECRET='your_stripe_webhook_secret'
STRIPE_BASIC_PRICE_ID=price_1QjOdxF3eWJROmJwYzz2OeB9
STRIPE_PLUS_PRICE_ID=price_1Qj6kNF3eWJROmJwefhu6SpP
STRIPE_PREMIUM_PRICE_ID=price_1Qj6l2F3eWJROmJwv0qitqbf

# URLs
FRONTEND_URL=http://localhost:5173
VITE_API_URL=http://localhost:4000
VITE_STRIPE_PUBLISHABLE_KEY=${STRIPE_PUBLISHABLE_KEY}