.headerBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border: 2px solid gray;
    width: 100%;
    height: 30px;
}

.a1{
    color: white;
}

